.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 40px;
    margin: 40px 80px;
  }

  .card_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    height: 24rem;
    width: 24rem;
    margin: 5rem;
    &:nth-child(even) {
      background-image: radial-gradient(#013184, #151e2e);
      background-color: #151e2e;
    }
    &:nth-child(odd) {
      background-image: radial-gradient(#028b5b, #013221);
      background-color: #0c6848;
    }
    box-shadow: 0 0 2rem #151e2ed7;
    color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
    }
    &:hover .numero {
      text-shadow: 0 0 5px #fff;
    }
    .numero {
      font-size: 5rem;
      color: #fff;
    }
    .texte {
      width: 60%;
      color: #fff;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 200;
    }
  }

  .information_container {
    background-color: #fff;
    width: 80%;
    margin: 8rem auto;

    box-shadow: 0 0 2rem #0c6848c7;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    .information_content {
      h3 {
        font-size: 3.5rem;
        font-weight: 200;
        padding: 2rem 7rem;
        color: #0D6747;
      }
      p {
        padding: 0 7rem 7rem 7rem;
        position: relative;
        font-size: 1.5rem;
        text-align: center;
        line-height: 3rem;
      }
    }
  }
}
