@import "../../_variables.scss";

.sous-parties {
  .sp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 40px;
    margin: 40px 80px;
  }
  .ensemble_production {
    .container:nth-child(even) {
      .content_image .bordure {
        transform: translateX(-55%);
      }
      .content_texte {
        align-items: flex-end;
        h3 {
          text-align: right;
        }
      }
      ul {
        text-align: right;
      }
    }
    .container:nth-child(odd) {
      .content_image .bordure {
        transform: translateX(-45%);
      }

      .content_texte {
        align-items: flex-start;
        h3 {
          text-align: left;
        }
      }
    }
  }
  .container {
    width: 100%;
    margin: 50px auto;
    min-height: 400px;
    display: flex;

    .content {
      width: 50%;
    }
    .content_image {
      position: relative;
      height: 400px;

      .image {
        position: absolute;
        height: 100%;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        filter: sepia(80%);
        border-radius: 2000px;
        z-index: 200;

        &_granulation {
          background-image: url(../../assets/capacite.jpg);
        }
        &_compression {
          background-image: url(../../assets/compression.jpg);
        }
        &_pelliculage {
          background-image: url(../../assets/pelliculage.jpg);
        }
        &_dragee {
          background-image: url(../../assets/dragee_turbine.jpg);
        }
      }

      .bordure {
        position: absolute;
        height: 100%;
        width: 80%;
        border-radius: 2000px;
        border: 1px solid $vert-fonce;
        top: -10px;
        left: 50%;
      }
    }
    .content_texte {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      & > * {
        width: 65%;
        min-width: 470px;
        max-width: 600px;
        line-height: 25px;
      }
      h3 {
        font-size: 26px;
        margin-bottom: 30px;
      }
      p {
        text-align: justify;
      }

      ul {
        position: relative;
        margin-top: 20px;
        background-color: $vert-fonce;

        padding: 10px 40px;
        border-radius: 10px;
        transition: all 0.4s;
        box-shadow: 0 0 20px $vert-fonce-trans;
        line-height: 30px;
        li {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .sous-parties {
    .sp {
      h2 {
        width: 92%;
        margin: 2rem auto 0 auto;
        font-size: 2.6rem;

        color: $vert-fonce;
        text-align: center;
        border-radius: 2rem;
        padding: 1rem;
      }
    }
    .container {
      margin: 0;
      .content_texte {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        h3 {
          margin-top: 1rem;
          font-size: 2.2rem;
        }

        p {
          font-size: 1.5rem;
          margin: 0.8rem 0;
          line-height: 2.6rem;
        }
        & > * {
          margin: 0 auto;
          max-width: 100%;
          min-width: 100%;
          width: 100%;

          -webkit-hyphens: auto;
          hyphens: auto;
        }
      }
    }
  }
}
