$clair: #f1f1f1;
$blanc: #fafafa;

$sombre: #151e2e;
$sombre-trans: #151e2eb5;
$sombre-opaq: #151e2eee;

$vert-fonce: #055438;
$vert-fonce-trans: #0d6748be;
$vert-fonce-opaq: #0d6748ee;
$vert-clair: #25d0a8;
$vert-clair-trans: #25d0a8c6;

$border-radius: 2rem;
$font-normal: 1.5rem;
