@import "../../_variables.scss";
.barre-footer {
  width: 100%;
  min-height: 18rem;
  background-color: $sombre;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3000;
}

.coordonnees > div {
  color: $clair;
  text-align: center;
}
.nom {
  font-weight: bold;
  font-size: 1.7rem;
}
.tel {
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 0.2rem solid $clair;
}
.type {
  padding-top: 0.6rem;
}
.logo {
  background-image: url(../../assets/logo_ajc_blanc.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 12rem;
  height: 12rem;
}
.infos-bar {
  background: $sombre;
  padding: 1rem 2rem;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}
li {
  color: $clair;
  opacity: 0.5;
  font-size: 1rem;
}
li:hover {
  cursor: pointer;
  opacity: 0.9;
}

.mentionslegales {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 10000;
  //background: rgba(255, 255, 255, 0.587);
  //background: $vert-clair-trans;
  background: rgba(255, 192, 203, 0.466);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  h3 {
    font-size: 2rem;
    margin: 2rem 0 1rem;
  }
  h4 {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
  }
  p {
    font-size: 1.2rem;
    text-align: justify;
    width: clamp(250px, 100%, 800px);
  }
  .fermeture {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.3rem;
    margin-top: 2rem;
    font-style: italic;
    text-align: center;
  }
  .fermeture:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: 666px) {
  .logo {
    display: none;
  }
  .barre-footer {
    flex-direction: column;
    height: auto;
  }
  ul {
    justify-content: space-evenly;
  }
  .mentionslegales {
    h3 {
      width: clamp(250px, 30%, 800px);
    }
  }
  .coordonnees {
    margin: 2.5rem 0;
  }
}
